@font-face {
    font-family: 'BebasRegular';
    src: url('/fonts/BEBAS___-webfont.eot');
    src: url('/fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BEBAS___-webfont.woff') format('woff'),
         url('/fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('/fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}

h1 ,
h2 ,
h3 ,
h4 {
	font-family: 'BebasRegular';
	word-spacing: 0.125em;
}

header {

	background-image:url("/images/bg.jpg");
	background-position:50% 0;
	margin:0 0 -75px;
	padding:30px 0 130px;

	h1 {
		background-position:0px 0px;
		height: 119px;
		margin:0 0 3em;
		width: 119px;
	}

	h2.first {
		margin-top: 1.8em;
	}

	h2 {
		background-color:#000;
		color:transparent;
		display:inline-block;
		line-height:38px;
		margin:0 0 6px;
		padding:4px 8px 0;
		text-decoration:none;
		text-transform:uppercase;

		span {
			background-image: url("/images/bg.jpg");
			background-position: 50% -210px;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			-moz-background-clip: text;
			background-clip: text; 
		}
	}
}

#content {
	margin:0 auto;
	max-width:980px;
}

#mas {

	#about {
		float:left;
		text-align:left;
		width:38.5%;
	}

	#map {
		float:right;
		width:61%;
	}
}

#nous ul {
	display:block;
	list-style-type:none;
	margin:0 0 12em;
	padding:0;

	li {
		display: inline-block;
		margin:0;
		padding:0;
		vertical-align:top;
		width:19.5%;

		h3 , h4 {
			margin:0;
		}

		h4 {
			font-weight:normal;
			font-size:1.2em;
			font-style:italic;
		}

		p {
			height:114px;
		}
	}
}

.georgia {
	font-family: georgia, serif;
}

.sprite {
	background-image: url("/images/sprite.png");
	background-repeat:no-repeat;
	display:inline-block;
}