@font-face {
    font-family: 'BebasRegular';
    src: url('/fonts/BEBAS___-webfont.eot');
    src: url('/fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BEBAS___-webfont.woff') format('woff'),
         url('/fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('/fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	text-align:center;
}

h1 ,
h2 ,
h3 ,
h4 {
	font-family: 'BebasRegular';
}

header {

	background-image:url("/images/bg.jpg");
	background-position:50% 0;
	padding:30px 0 0;

	h1{
		background-position:0px 0px;
		height: 119px;
		margin:0 0 3em;
		width: 119px;
	}

}

#content {
	margin:0 auto;
	max-width:980px;
}

#mas {

	#about {
		float:left;
		width:38.5%;
	}

	#map {
		float:right;
		width:61%;
	}
}

#nous ul {
	display:block;
	list-style-type:none;
	margin:0;
	padding:0;

	li {
		display: inline-block;
		margin:0;
		padding:0;
		vertical-align:top;
		width:19.5%;
	}
}

.sprite {
	background-image: url("/images/sprite.png");
	background-repeat:no-repeat;
	display:inline-block;
}